
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

table tr.selected {
  background: lightskyblue;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #999999;
}

